HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
afdasdfhkjh
*.DS_Store
sdddff
### STS ###
.apt_generated
.classpath
.factorypath
juldkajhflkj;asdf
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
